html {
    scroll-behavior: smooth;
  }
  
body, a{
    color: #7A7A7A;
}

a{
    text-decoration: none;
}

a:hover{
    color: lightgreen;
    text-decoration: none;
}

#mainNav, .nav-link{
    color: white;
}

.active-link{
    color: lightgreen;
}

#mainNav {
    background-color: transparent;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
  }

.navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

#header{
    background: url("../images/header-background-med.jpg") no-repeat top center;
    background-size: cover !important;    
    text-align: center;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0f0f0f !important;
  } 

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
 }

 h1, .fab, .nav-link:hover{
     color: lightgreen;
 }

 h2{
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

 h5{
     color: white;
     max-width: 75%;
 }

 .fab{
     padding-left: 5px;
     padding-right: 5px;
 }

 #about{
    background: #0f0f0f;
 }

 #about p{
     line-height: 2.25;
     margin-bottom: 0 !important;
     /* font-size: 14px; */
 }

 #about i{
     width: 16px;
     height: 16px;
     margin-right: 10px;
     text-align: center;
 }

 .res-content{
    /* text-align: center; */
    margin: 40px auto;
    max-width: 860px;

 }

 #resume{
     position: relative;
 }

 #res-download-btn{
    position: absolute;
    top: 40px;
    left: 0px;
    background: #0f0f0f;
    color: white;
    opacity: 0.6;
    padding: 20px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;  
 }

 #res-download-btn:hover{
    padding-left: 80px;
 }

 #resume > * {
    font-family: 'Noto Sans', sans-serif;
 }

 .res-section-header{
     text-transform: uppercase;
     font-size: 22px;
     letter-spacing: 1px;
     border-bottom: 3px solid lightgreen;
     padding-bottom: 6px;
 }

 .res-section-title{
     font-size: 26px;
     color: rgb(102, 101, 101);
     font-family: 'Noto Sans', sans-serif;
 }

 .res-tech-skills{
     font-size: 20px;
     margin-bottom: 0.5rem;
 }

 .res-tech-skills > span{
     font-weight: 900;
 }


 .portfolio{
    background: rgb(238, 233, 233);
}

.portfolio > h2{
    color: rgb(102, 101, 101);
    text-align: center;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    font-size: 48px;
}

.portfolio > h5{
    color: #7A7A7A;
    text-align: center;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* font-weight: 700; */
    font-size: 18px;
}
 
 .card-body{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
 }

.card:hover .card-body{
    opacity: 0.3;
}

.overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .25rem;
 }

 .card:hover .overlay{
     opacity: 1;
     width: 100%;
     cursor: pointer;
 }

 .overlay i{
     color: white;
     font-size: 50px;
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     text-align: center;
 }

 .overlay p{
     color: white;
     font-size: 18px;
     position: absolute;
     top: 20%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     text-align: center;
 }

 img{
     overflow: hidden;
     width: 100%;
 }

#footer{
    background-color: #666666;
    color: white;
    font-size: 10px;
    border-top: 10px solid #4aaaa5;
}
.card{
    width: 100%;
    height: 100%;
}

.modal-content{
    border-radius: 0;
}

.modal-body h5{
    color: black;
}

.modal-body p{
    font-size: 14px;
}

.modal-footer{
    background: black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color:white;
    font-size: 18px;
    justify-content: flex-start;
}

.modal-footer a, .modal-footer i{
    color: white;
    text-decoration: none;
}

.modal-footer a:hover, .modal-footer i:hover{
    color: lightgreen;
}

.modal-footer > :not(:last-child){
    margin-right: .5em;
}

.fa-chevron-circle-up:hover{
    color:black;
}

.bg-primary{
    background: lightgreen !important;
}

@media (max-width: 576px){
    h1{
        font-size: 48px;
    }

    h5{
        font-size: 20px;
    }
}